<div class="row tm-albums-container grid">
    <div class="col-sm-6 col-6 col-md-6 col-lg-3 col-xl-3 tm-album-col"><a
        target="" href="#/results/mariachi">
        <figure class="effect-sadie"><img src="assets/img/mariachi.jpg"
            alt="Image" class="img-fluid">
          <figcaption>
            <h2>Mariachi</h2>
          </figcaption>
        </figure>
      </a></div>
    <div class="col-sm-6 col-6 col-md-6 col-lg-3 col-xl-3 tm-album-col"><a
        target="" href="#/results/rock">
        <figure class="effect-sadie"><img src="assets/img/rock.jpg"
            alt="Image" class="img-fluid">
          <figcaption>
            <h2>Rock</h2>
          </figcaption>
        </figure>
      </a></div>
    <div class="col-sm-6 col-6 col-md-6 col-lg-3 col-xl-3 tm-album-col"><a
        target="" href="#/results/dj">
        <figure class="effect-sadie"><img src="assets/img/dj.jpg"
            alt="Image" class="img-fluid">
          <figcaption>
            <h2>Dj.</h2>
          </figcaption>
        </figure>
      </a></div>
    <div class="col-sm-6 col-6 col-md-6 col-lg-3 col-xl-3 tm-album-col"><a
        target="" href="#/results/norteno">
        <figure class="effect-sadie"><img src="assets/img/norteno.jpg"
            alt="Image" class="img-fluid">
          <figcaption>
            <h2>Norteño</h2>
          </figcaption>
        </figure>
      </a></div>
    <div class="col-sm-6 col-6 col-md-6 col-lg-3 col-xl-3 tm-album-col"><a
        target="" href="#/results/versatil">
        <figure class="effect-sadie"><img src="assets/img/versatil.jpg"
            alt="Image" class="img-fluid">
          <figcaption>
            <h2>Versatil</h2>
          </figcaption>
        </figure>
      </a></div>
    <div class="col-sm-6 col-6 col-md-6 col-lg-3 col-xl-3 tm-album-col"><a
        target="" href="#/results/imitadores">
        <figure class="effect-sadie"><img src="assets/img/imitadores.jpg"
            alt="Image" class="img-fluid">
          <figcaption>
            <h2>Imitadores</h2>
          </figcaption>
        </figure>
      </a></div>
    <div class="col-sm-6 col-6 col-md-6 col-lg-3 col-xl-3 tm-album-col"><a
        target="" href="#/results/payasos">
        <figure class="effect-sadie"><img src="assets/img/payasos.jpg"
            alt="Image" class="img-fluid">
          <figcaption>
            <h2>Payasos</h2>
          </figcaption>
        </figure>
      </a></div>
    <div class="col-sm-6 col-6 col-md-6 col-lg-3 col-xl-3 tm-album-col"><a
        target="" href="#/results/banda">
        <figure class="effect-sadie"><img src="assets/img/banda.jpg"
            alt="Image" class="img-fluid">
          <figcaption>
            <h2>Banda</h2>
          </figcaption>
        </figure>
      </a></div>
    <div class="col-sm-6 col-6 col-md-6 col-lg-3 col-xl-3 tm-album-col"><a
        target="" href="#/results/audio">
        <figure class="effect-sadie"><img src="assets/img/audio.jpg"
            alt="Image" class="img-fluid">
          <figcaption>
            <h2>Audio/Iluminacion</h2>
          </figcaption>
        </figure>
      </a></div>
    <div class="col-sm-6 col-6 col-md-6 col-lg-3 col-xl-3 tm-album-col"><a
        target="" href="#/results/meseros">
        <figure class="effect-sadie"><img src="assets/img/meseros.jpg"
            alt="Image" class="img-fluid">
          <figcaption>
            <h2>Meseros</h2>
          </figcaption>
        </figure>
      </a></div>
    <div class="col-sm-6 col-6 col-md-6 col-lg-3 col-xl-3 tm-album-col"><a
        target="" href="#/results/taquizas">
        <figure class="effect-sadie"><img src="assets/img/taquizas.jpg"
            alt="Image" class="img-fluid">
          <figcaption>
            <h2>Taquizas</h2>
          </figcaption>
        </figure>
      </a></div>
    <div class="col-sm-6 col-6 col-md-6 col-lg-3 col-xl-3 tm-album-col"><a
        target="" href="#/results/inflables">
        <figure class="effect-sadie"><img src="assets/img/inflable.jpg"
            alt="Image" class="img-fluid">
          <figcaption>
            <h2>Inflables</h2>
          </figcaption>
        </figure>
      </a></div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="tm-tag-line">
        <h2 class="tm-tag-line-title">Music is your powerful energy.</h2>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-xl-12">
      <div class="media-boxes">
        <div class="media">
          <img src="assets/img/insertion-140x140-01.jpg" alt="Image" class="mr-3">
          <div class="media-body tm-bg-gray">
            <div class="tm-description-box">
              <h5 class="tm-text-blue">Vivamus eget urna vitae ante</h5>
              <p class="mb-0">Insertion HTML Template includes 3 different pages. You can use this layout for your
                website. Please tell your friends about <a href="https://plus.google.com/+tooplate"
                  target="_parent">Tooplate</a>. Thank you.</p>
            </div>
            <div class="tm-buy-box">
              <a href="#" class="tm-bg-blue tm-text-white tm-buy">buy</a>
              <span class="tm-text-blue tm-price-tag">$5.50</span>
            </div>
          </div>
        </div>

        <div class="media">
          <img src="assets/img/insertion-140x140-02.jpg" alt="Image" class="mr-3">
          <div class="media-body tm-bg-pink-light">
            <div class="tm-description-box">
              <h5 class="tm-text-pink">Proin fermentum sapien sed nisl</h5>
              <p class="mb-0">Donec est felis, posuere viverra dapibus ac, pretium vel libero. Aliquam consectetur,
                arcu eget euismod congue, tortor metus vehicula.</p>
            </div>
            <div class="tm-buy-box">
              <a href="#" class="tm-bg-pink tm-text-white tm-buy">buy</a>
              <span class="tm-text-pink tm-price-tag">$7.25</span>
            </div>
          </div>
        </div>

        <div class="media">
          <img src="assets/img/insertion-140x140-03.jpg" alt="Image" class="mr-3">
          <div class="media-body tm-bg-gray">
            <div class="tm-description-box">
              <h5 class="tm-text-blue">Quisque dignissim porta nunc</h5>
              <p class="mb-0">In neque felis, fringilla vel orci ut, sodales consectetur purus. Vivamus eget urna
                vitae ante pellentesque iaculis. Praesent sit amet.</p>
            </div>
            <div class="tm-buy-box">
              <a href="#" class="tm-bg-blue tm-text-white tm-buy">buy</a>
              <span class="tm-text-blue tm-price-tag">$6.80</span>
            </div>
          </div>
        </div>

        <div class="media">
          <img src="assets/img/insertion-140x140-04.jpg" alt="Image" class="mr-3">
          <div class="media-body tm-bg-pink-light">
            <div class="tm-description-box">
              <h5 class="tm-text-pink">Vestibulum mattis quam sodales</h5>
              <p class="mb-0">Curabitur id tempor orci. Fusce efficitur in enim sit amet sodales. Proin id gravida
                leo. Phasellus non quam et justo faucibus rhoncus.</p>
            </div>
            <div class="tm-buy-box">
              <a href="#" class="tm-bg-pink tm-text-white tm-buy">buy</a>
              <span class="tm-text-pink tm-price-tag">$3.75</span>
            </div>
          </div>
        </div>

        <div class="media">
          <img src="assets/img/insertion-140x140-05.jpg" alt="Image" class="mr-3">
          <div class="media-body tm-bg-gray">
            <div class="tm-description-box">
              <h5 class="tm-text-blue">Vestibulum mattis quam sodales</h5>
              <p class="mb-0">Maecenas sit amet nibh faucibus, tincidunt nisl sit amet, elementum eros. Fusce congue
                ligula gravida lorem lacinia.</p>
            </div>
            <div class="tm-buy-box">
              <a href="#" class="tm-bg-blue tm-text-white tm-buy">buy</a>
              <span class="tm-text-blue tm-price-tag">$5.25</span>
            </div>
          </div>
        </div>
      </div> <!-- media-boxes -->
    </div>
  </div>